.App {
  text-align: center;
}

.Articles {
  height: 30vh;
  border: solid 2px;
  margin: 5vw;
  padding: 1vw;
}
.articles-wrapper{
  height: 90vh;
  border: solid 1px #1a1a1d;
  margin: 1vw 15vw;
  overflow: scroll;
  /* overflow: hidden; */
}
.show-article{
  height: 60vh;
  border: solid 1px black;
  margin: 3vw 5vw;
  padding: 3vw;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding-top: 10px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.read-more{
  margin: 20px auto 20px auto;
  height: 5vh;
  width: 8vw;
  background-color: #1a1a1d;
  border-radius: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
}
.edit-article-button{
  margin: 20px auto 20px auto;
  height: 5vh;
  width: 8vw;
  background-color: #1a1a1d;
  border-radius: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
}
.edit-submit-button{
  margin: 1vh 2vw;
  height: 5vh;
  width: 12vw;
  background-color: #1a1a1d;
  border-radius: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
}
.title{
  height: 4vh;
  width: 12vw;
  font-size: 12pt;
}
.article-content{
  height: 10vh;
  width: 12vw;
  font-size: 12pt;
}
.edit-article{
  margin: 2vw 18vw;

}
.edit-content{
  height: 18vh;
  width: 17vw;
  font-size: 14pt;
}
.edit-title{
  width: 17vw;
  font-size: 14pt;
}
.header{
  text-align: center;
  font-size: 18pt;
  margin: 10vh;
  width: 45vw;

}
.submit-article-button{
  height: 5vh;
  width: 6vw;
  background-color: #1a1a1d;
  border-radius: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 8pt;
}
.delete-article-button{
  margin: 1vh  20vw;
  height: 5vh;
  width: 12vw;
  background-color: #1a1a1d;
  border-radius: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
}
.edit-article-wrapper{
  margin: 2vw;
}
.page-wrapper{
  display: flex;
}