.App {
  text-align: center;
}

.Articles {
  height: 30vh;
  border: solid 2px;
  margin: 5vw;
  padding: 1vw;
}
.articles-wrapper{
  height: 90vh;
  border: solid 1px #1a1a1d;
  margin: 8vw 15vw;
  overflow: scroll;
  /* overflow: hidden; */
}
.show-article{
  height: 60vh;
  border: dotted 2px red;
  margin: 3vw 5vw;
  padding: 3vw;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding-top: 10px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.read-more{
  margin: 20px auto 20px auto;
  height: 5vh;
  width: 8vw;
  background-color: #1a1a1d;
  border-radius: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
}
.edit-article-button{
  margin: 20px auto 20px auto;
  height: 5vh;
  width: 8vw;
  background-color: #1a1a1d;
  border-radius: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
}

