* {
font-family: cursive;
}
.main-page{
  background-image: url(./images/matteo-catanese-572620-unsplash.jpg);
  background-size: cover;
}
.Articles {
  height: 30vh;
  border-top: solid 3px #252839;
  border-bottom: solid 3px #252839;
  margin: 5vw;
  padding: 1vw;
  background-color: rgba(103,112,119, 0.8);

}
.single-article{
  padding: 2vw 3vw;
  justify-content: space-between;
}
.create-article-button{
  color: #f2b632;
  margin-right: 5vw;
  margin-left: 5vw;
}
.main-page-click{
  color: #f2b632;
  margin-left: 10vw;
}
.nav-bar{
  height: 8vh;
  background-color: #252839;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2vh;
}
.articles-wrapper{
  height: 90vh;
  border-left: solid 5px #252839;
  border-right: solid 5px #252839;
  overflow: scroll;
  width: 70vw;
  margin-left: 16vw;
  background-color: rgba(103,112,119, 0.5);
}
.show-article{
  height: 60vh;
  border-top: solid 4px #252839;
  border-bottom: solid 4px #252839;
  margin: 8vw 5vw;
  padding: 1vh 3vw;
  background-color: rgba(103,112,119, 0.8);
}

.App-header {
  background-color: #677077;
  height: 100px;
  padding-top: 10px;
  color: #f2b632;
  text-align: center;
  opacity: .5;
}

.app-title {
  font-size: 2.5em;
  letter-spacing: .5em;
}

.read-more{
  margin: 2vh 36vw;
  position: relative;
  height: 5vh;
  width: 8vw;
  background-color: #252839;
  border-radius: 15px;
  text-align: center;
  color: #f2b632;
  text-decoration: none;
  letter-spacing: 3px;
  position: relative;
}
.edit-article-button{
  margin: 15vh 20vw;
  height: 5vh;
  width: 8vw;
  background-color: #252839;
  border-radius: 15px;
  text-align: center;
  color: #f2b632;
  text-decoration: none;
  letter-spacing: 3px;
  outline: none;
}
.edit-submit-button{
  margin: 3vh 4vw;
  height: 5vh;
  width: 12vw;
  background-color: #252839;
  border-radius: 15px;
  text-align: center;
  color: #f2b632;
  text-decoration: none;
  letter-spacing: 3px;
  outline: none;
}
.create-article-wrapper{
  margin: 5vh 25vw;
}
.title{
  width: 19vw;
  font-size: 14pt;
  box-shadow: #252839 5px 8px;
  margin-bottom: 5vh;
}
.article-content{
  height: 20vh;
  width: 19vw;
  font-size: 14pt;
  box-shadow: #252839 5px 8px;
}
.title-showarticle{
  text-align: center;
  font-size: 20pt;
  margin-bottom: 5vh;
}
.content-showarticle{
  font-size: 16pt;
  margin-left: 5vw;
}
.edit-article{
  margin: 1vw 22vw;
}
.edit-content{
  height: 20vh;
  width: 19vw;
  font-size: 14pt;
  box-shadow: #252839 5px 8px;
}
.edit-title{
  width: 19vw;
  font-size: 14pt;
  box-shadow: #252839 5px 8px;
  margin-bottom: 5vh;
}
.header{
  text-align: center;
  font-size: 18pt;
  margin: 8vh 0px 10vh 16vh;
  width: 45vw;

}
.submit-article-button{
  height: 5vh;
  width: 15vw;
  background-color: #252839;
  border-radius: 15px;
  text-align: center;
  color: #f2b632;
  text-decoration: none;
  font-size: 8pt;
  letter-spacing: 5px;
  margin: 3vh 2vw;
  outline: none;
}
.delete-article-button{
  margin: 0vh  26vw;
  height: 5vh;
  width: 12vw;
  background-color: #252839;
  border-radius: 15px;
  text-align: center;
  color: #f2b632;
  text-decoration: none;
  letter-spacing: 3px;
  outline: none;
}
.edit-article-wrapper{
  margin: 2vw;
  
}
.page-wrapper{
  /* background-image: url(./images/matteo-catanese-572620-unsplash.jpg); */
  background-size: 100%;
}
.footer{
  text-align: center;
  background-color: #252839;
  height: 4vh;
  font-size: 16pt;
  padding: 1em;
  letter-spacing: .7em;
  color: #f2b632;
}
